/*html {
    font-family: 'Lato';
    font-size: 20px; 
    font-weight: 1000;
    min-width: 100%;
    background-color: white;
    margin: 0px;
}*/

body { 
    display: grid;
}

section { 
    height: 100%;
    display: block;
    position: relative;
    bottom: 0px;
}

.tournaments_card{ 
    background-color: white;
    display: block;
    width: 1200px; 
    height: 100%;
    margin: 12.5% auto;
    margin-top: 0px;
    text-align: center;
}

.tournaments_banner { 
    margin: 0px;
    background-color: white;
    height: 300px;
}

.tournaments_banner h1{ 
    margin: 0px;
    padding: 20px 0px 20px 0px;
    text-align: left;
    font-size: 40px; 
    font-style: italic;
    color: #fac300;
    width: 100%;
    position: relative;
    left: 10%; 
    width:fit-content;
}

.tournaments_banner p{ 
    font-size: 15px;
    color: #6c6f6f; 
    position: relative;
    left: 10%; 
    text-align: left;
    width: fit-content;
}

.tournament_section { 
    height: 500px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.tournament_section #banner { 
    height: 80px;
    line-height: 80px;
    background-color: #fac300;
    color: white;
    font-size: 30px; 
}

.tournament_section #banner h1 { 
    margin: 0px;
    padding-left: 15px;
    width: fit-content;
}

.tournament_section #info p { 
    text-align: left;
    margin: 10px 0px 0px 0px;
    padding-left: 15px;
}

.tournament_section #calendar{ 
    
}