        <div class = "courts_main row p-0 m-0"> 
            <div class = "courts_card p-0">
                <div class = "courts_banner row m-0 p-0"> 
                    <h1 id = "title" class = "row">
                        Τα γήπεδά μας
                    </h1>
                    <p id = "subtitle" class = "row">
                        Το club μας διαθέτει 17 γήπεδα διαφόρων ειδών, για κάθε προτίμηση. Κατά την κράτηση, ανάλογα με τη διαθεσιμότητα 
                        και την περιοχή, δίνεται η δυνατότητα επιλογής του επιθυμητού είδους γηπέδου. Στην περίπτωση που δεν γνωρίζετε πιο
                        είναι το κατάλληλο γήπεδο για εσάς, ακολουθούν κάποιες γενικές πληροφορίες. 
                    </p>
                </div>
                <div class = "courts_info row p-0 m-0"> 
                    <div class = "info_card row p-0 m-0"> 
                        <div class = "info_banner row m-0"> 
                            <h1 id = "title">Hard tennis courts</h1>
                        </div>
                        <div class = "info_text row m-0">
                            <p>
                                Hard courts are one of the main types of courts commonly found at parks, 
                                recreation centers, clubs, and schools. Composed of varying mixtures of 
                                asphalt and concrete, hard courts also contain an acrylic surface layer 
                                (like paint or coating) to seal the surface and provide a level of cushioning. 
                                Hard surface courts have lower energy absorption than clay courts, making the 
                                tennis ball bounce higher and move faster. Hard courts are an all-around court, 
                                which makes them ideal for most types of tennis players. The US Open and the 
                                Australian Open are the only two Grand Slam tournaments that use a hard court surface. 
                            </p>
                        </div> 
                    </div>
                    <div class = "info_card row p-0 m-0"> 
                        <div class = "info_banner row m-0"> 
                            <h1>Clay tennis courts</h1>
                        </div>
                        <div class = "info_text row m-0">
                            <p>
                                Clay courts mainly come in two different forms: The red clay court is a coarse mixture made from brick,
                                 and the green clay court, which is a crushed metabasalt, also known as Har-Tru. These materials dry much 
                                 quicker than standard clay, which is rarely found on modern tennis court surfaces. Due to their textured 
                                 surfaces, clay courts feature the slowest surface for ball speed. High-bounce serves like topspin are 
                                 easier to return on this surface due to the ball’s reduced speed. This reduced speed makes points last 
                                 longer, which is ideal for baseline players who have a more defensive style of play. Clay courts are 
                                 slightly easier on the human body, as the surface absorbs more shock, and also allows players to slide into 
                                 place rather than coming to a complete stop, conserving some of their energy. The French Open is the only 
                                 Grand Slam that uses a clay court. Professionals Roger Federer and Rafael Nadal are considered two of the 
                                 best players on clay courts to date. 
                            </p>
                        </div> 
                    </div>
                    <div class = "info_card row p-0 m-0"> 
                        <div class = "info_banner row m-0"> 
                            <h1>Grass tennis courts</h1>
                        </div>
                        <div class = "info_text row m-0">
                            <p>Grass courts, also known as lawn courts, used to be the most common type of tennis court surface. However, due to their high cost and maintenance, grass courts are less commonly used than hard courts and clay courts. A grass surface consists of short-cut grass on tightly packed soil, and is the fastest type of court, offering low ball bounces and shorter rallies. This fast surface also provides an advantage to players with big serves, as the ball is harder to return to start the point. There are many variables to how a ball behaves on a grass court, such as how many players have played on it before, how often it is mowed, and the overall health and quality of the grass itself. While all four of the Grand Slam tournaments once used grass courts, Wimbledon is currently the only one that still features a grass court. </p>
                        </div> 
                    </div>
                    <div class = "info_card row p-0 m-0"> 
                        <div class = "info_banner row m-0"> 
                            <h1>Synthetic tennis courts</h1>
                        </div>
                        <div class = "info_text row m-0">
                            <p>For the softness and feel of a grass court without the maintenance, some public and private facilities may opt for a synthetic turf court. Synthetic courts usually contain plastic grass fibers with better durability and less upkeep than a standard grass court. The sand-filled topping that layers the surface of a synthetic turf court protects the court itself from weather conditions, allowing it to dry faster, and making it less susceptible to wear over time. The materials used are non-toxic and not prone to pests like real grass.</p>
                        </div> 
                    </div>
                </div>
            </div>
        </div>