<div class = "popup" id = "login">
    <div class = "modal-container"> 
        <div class = "modal"> 
            <div class = "button_row row m-0 p-0"> 
                <button class = "close col-1 p-0">
                </button> 
            </div>
            <form class = "form">
                <div class = "inputs col m-0">
                    <div class="title row m-0 p-0"> 
                        <h1>
                            LOGIN
                        </h1> 
                    </div>
                    <div class = "field row m-0 p-0"> 
                        <label for = "e-mail" class = "field_name col-5 p-0"> E-mail or username </label>
                        <input type="text" name="e-mail" class = "field_input col-5 p-0">
                    </div>
                    <div class = "field row m-0 p-0"> 
                        <label for = "password" class = "field_name col-5 p-0"> Password </label>
                        <input type="text" name="password" class = "field_input col-5 p-0">
                    </div> 
                </div>
                <div class = "redirect row m-0 p-0">
                    <a> I don't have an account &rarr;</a>
                </div>
                <button type = "submit" class = "submit"> 
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>