<div class = "main row m-0"> 
    <div class = "card p-0">  
        <!--BANNER-->
        <div class = "banner row p-0 m-0">
            <img src= "imgs/frPageBanner.png" class = "banner_img responsive col-12 p-0 m-0">
            <div class = "title">  
                <h1>VILLIA TENNIS CLUB</h1>
                <h2>Καλωσήρθατε!</h2>
            </div>
            
        </div>
        <!--INTRO-->
        <div class = "intro row m-0 p-0"> 
            <h1 class = "row m-0"> 
                Σχετικά με εμάς
            </h1>
            <p class = "row m-0">
                <br>Η ιδέα για το tennis club μας ξεκίνησε το 2005, όταν η έλλειψη γηπέδων διαθέσιμων στο κοινό στην ευρύτερη περιοχή της Δυτικής Αττικής 
                οδήγησε στην ανάγκη δημιουργίας τους. Η ομάδα μας ξεκίνησε με το πρώτο γήπεδο στην περιοχή των Βιλλίων και επεκτάθηκε μετρώντας πλέον τέσσερα
                γήπεδα στην αρχική μας τοποθεσία και 13 άλλα στην ευρύτερη περιοχή. </br>

                <br>Με την πάροδο του χρόνου, επεκταθήκαμε σε περισσότερους τομείς εκτός της διάθεσης χώρου για προπόνηση στο τένις. 
                Τώρα μπορούμε να πούμε ότι συνεργαζόμαστε με κάποιους από τους καλύτερους προπονητές της Ελλάδας 
                αλλά και παγκοσμίως με μαθήματα για όλες τις ηλικίες και τα επίπεδα ικανοτήτων ενώ προσφέρουμε την ευκαιρία σε οποιονδήποτε να δοκιμάσει το άθλημα 
                με ενοικίαση εξοπλισμού εξαιρετικής ποιότητας από τα καταστήματά μας. Στους χώρους μας μπορείτε να βρείτε εστιατόρια, καταστήματα εξοπλισμού καθώς και άριστα 
                εξοπλισμένους σταθμούς πρώτων βοηθειών για την περίπτωση ανάγκης. Η σημαντικότηρες εκ των παροχών μας, όμως, είναι για εμάς, η συχνή 
                διοργάνωση τουρνουά στους χώρους μας καθώς και βραδιών ψυχαγωγίας που φέρνουν κοντά την κοινότητα των μελών μας αλλά και την κοινότητα στην ευρύτερη περιοχή. </br>

                <br>Επισκεφτείτε μας αν έχετε πάθος για το τέννις, αν έχετε περιέργεια γι'αυτό ή αν απλά θέλετε να γίνετε μέλος της ευρείας κοινότητας μάς: όλοι είναι 
                ευπρόσδεκτοι στο κλαμπ μας. </br>
            </p>
        </div>
        <!--CONTACT INFO-->
        <div class = "intro row m-0 p-0">
            <h1 class = "row m-0">
                Επικοινωνία
            </h1>
            <p class = "row m-0">
                Για επικοινωνία μαζί μας τηλεφωνικώς: 
                <br />
                <br />
                &#x2022; +30 2263023456 <br />
                &#x2022; +30 2263023457  <br />
                <br />
                Για επικοινωνία μαζί μας μέσω e-mail: 
                <br /> 
                <br /> 
                &#x2022; tennisvillia@gmail.gr <br /> 
                &#x2022; tennisclubvillia@otenet.gr <br />
                
            </p>
        </div>
        
    </div>
</div> 

 