<div class = "booking_main row m-0">
    <div class = "booking_card p-0"> 
        <div class = "booking_banner row m-0">
            <h1 id = "title" class = "row">
                Κράτηση γηπέδου
            </h1>
            <p id = "subtitle" class = "row"> 
                hugeigrgnkgn
            </p>
        </div> 
        <div class = "booking_info row m-0"> 
            <div class = "court_booking row m-0">
                <div class = "buttons"> 
                    <div id = "label"> ΓΗΠΕΔΟ </div>
                    <a href = "/booking/courts/previous"><button id = "previous">&laquo;</button></a>
                    <div id = "current"> {{courtVariable}}</div>
                    <a href = "/booking/courts/next"><button id = "next">&raquo;</button></a>
                </div>
                <div class = "booking_table" class = "p-0 m-0">
                    <table class = "table">
                        
                    </table> 
                </div>
                <div class = "legend"> Διαθέσιμο: &#10003; Μη-διαθέσιμο: &#88;</div> 
            </div>
        </div>
    </div>
</div>

<script type = "application/javascript" src = "/bookingMain.cjs"> </script>
{{!-- bookingMain creates the table --}}