        <div class="courts_main row m-0 p-0">
            <div class = "courts_card p-0"> 
                <div class = "courts_banner row m-0 p-0">
                    <div id = "title">
                        <h1>
                            ΓΗΠΕΔΑ
                        </h1>
                        <h4>
                            Γήπεδα Τένις ┃ VILLIA TENNIS CLUB
                        </h4>
                    </div>
                </div>
                <div class = "courts_info row p-0 m-0">
                    <div class = "info_card row p-0 m-0">
                        <div id="prologue">
                            <div class="info_banner row m-0">
                                <h4>Λίγα λόγια για τα γήπεδά μας...</h4>
                            </div>
                            <div class="info_row row m-0 p-0">
                                <p class = "text row">
                                    Το club μας διαθέτει εφτά γήπεδα διαφόρων ειδών, για κάθε προτίμηση, εκ των οποίων τα τέσσερα διατίθενται για κράτηση και χρήση από επισκέπτες. 
                                    Κατά την κράτηση, ανάλογα με τη διαθεσιμότητα, δίνεται η δυνατότητα επιλογής του επιθυμητού είδους γηπέδου. Στην περίπτωση που δεν γνωρίζετε πιο
                                    είναι το κατάλληλο γήπεδο για εσάς, ακολουθούν κάποιες γενικές πληροφορίες.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class = "info_card row p-0 m-0">
                        <div id="hard_courts">
                            <div class="info_banner row m-0">
                                <h4>Σκληρά γήπεδα</h4>
                            </div>
                            <div class="info_row row m-0 p-0"><img src = "imgs/courtsPage/hard-tennis-court.jpg"></div>
                            <div class="info_row row m-0 p-0">
                                <p class = "text row">
                                    Τα σκληρά γήπεδα αποτελούνται ουσιαστικά από ένα στρώμα ακρυλικού ή άλλου υλικού πάνω σε τσιμέντο. 
                                    Αυτού του είδους τα γήπεδα θεωρούνται τα πιο γρήγορα μετά από αυτά που είναι στρωμένα με γρασίδι και ευνοούν επίσης τους παίχτες που προτιμούν το γρήγορο παιχνίδι.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class = "info_card row p-0 m-0">
                        <div id="clay_courts">
                            <div class="info_banner row m-0">
                                <h4>Χωμάτινα γήπεδα</h4>
                            </div>
                            <div class="info_row row m-0 p-0"><img src = "imgs/courtsPage/clay-tennis-court.jpg"></div>
                            <div class="info_row row m-0 p-0">
                                <p class = "text row">
                                    Σε αυτή την κατηγορία συναντάμε διάφορους τύπους χωμάτινου γηπέδου, αλλά οι ομοιότητες είναι πολλές μεταξύ τους.
                                    Κατά κανόνα, τα χωμάτινα γήπεδα ευνοούν το πιο αργό παιχνίδι (σε σύγκριση με το γρασίδι και το σκληρό γήπεδο) - 
                                    κάποιος που ευνοείται σε γρήγορο παιχνίδι συνήθως ευνοείται και σε αυτά.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class = "info_card row p-0 m-0">
                        <div id="grass_courts">
                            <div class="info_banner row m-0">
                                <h4>Γήπεδα με γρασίδι</h4>
                            </div>
                            <div class="info_row row m-0 p-0"><img src = "imgs/courtsPage/grass-tennis-court.jpg"></div>
                            <div class="info_row row m-0 p-0">
                                <p class = "text row">
                                    Γήπεδα στρωμένα με γρασίδι - πραγματικό ή, συχνότερα, συνθετικό - που ευνοούν τις υψηλές ταχύτητες. 
                                    Αυτό σημαίνει πως οι παίχτες που είναι καλύτεροι στο γρήγορο παιχνίδι - ειδικά αυτοί που βασίζονται 
                                    στο δυνατό σέρβις τους - είναι περισσότερο ευνοημένοι.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>