<div class = "lessons_main row m-0 p-0">
    <div class = "lessons_card p-0"> 
        <div class = "lessons_banner row m-0 p-0">
            <div id = "title">
                <h1>
                    ΜΑΘΗΜΑΤΑ ΤΕΝNΙΣ
                </h1>
                <h4>
                    Τμήματα Επιλογής ┃ VILLIA TENNIS CLUB
                </h4>
            </div>
        </div>
        <div class = "lessons_info row p-0 m-0">
            <div class = "info_card row p-0 m-0">
                <div id="junior">
                    <div class = "info_banner row m-0">
                        <h4>Τμήματα Junior</h4>
                    </div>
                    <div class = "info_row row m-0 p-0">
                        <p class = "text row">
                            Ο όμιλός μας διαθέτει τμήματα ακαδημιών για παιδιά ηλικίας από 4 ετών. Φροντίζουμε σε αυτά τα τμήματα
                            το μάθημα να γινέται παιχνίδι, ώστε τα παιδιά να μπορούν να διασκεδάζουν και παράλληλα να προπονούνται και
                            να βελτιώνουν τις δυνατότητές τους στο άθλημα. Οι προπονητές των τμημάτων αυτών είναι ειδικά εκπαιδευμένοι
                            ώστε να μπορούν να διαχειρίζονται με σύνεση και συνέπεια μικρές ηλικίες και να κάνουν το μάθημα παιχνίδι. Τα
                            μαθήματα διαρκούνε περίπου μία με δύο ώρες και γίνονται δύο φορές κάθε βδομάδα. Τα παιδιά ή/και οι γονείς των παιδιών
                            μπορούνε, σε συνεργασία με τους προπονητές, να καθορίσουν το εβδομαδιαίο πρόγραμμα που θα γίνονται τα μαθήματα.
                        </p>
                    </div>
                    <div class = "info_row row m-0 p-0">
                        <span class = "photo">
                            <img src = "imgs/lessonsPage/junior-club.jpg">
                        </span>
                        <span class = "side_text">
                            ΤΙΜΗ ΣΥΝΔΡΟΜΗΣ:<br><br>
                            • Μηνιαία συνδρομή: 25 € <br>
                            • Τρίμηνη συνδρομή: 65 € <br>
                            • Εξάμηνη συνδρομή: 140 € <br>
                            • Ετήσια συνδρομή: 280 €
                        </span>
                    </div>  
                </div>
            </div>
            <div class = "info_card row p-0 m-0">
                <div id="adults">
                    <div class = "info_banner row m-0">
                        <h4>Τμήματα ενηλίκων</h4>
                    </div>
                    <div class = "info_row row m-0 p-0">
                        <p class = "text row">
                            Για τους ενήλικες διαθέτουμε ειδικά τμήματα προπόνησης, καθώς και έμπειρους προπονητές που είναι προετοιμασμένοι
                            να εκπαιδεύσουν τα μέλη μας, ακόμα και αν αυτά δεν έχουν ασχοληθεί καθόλου με το άθλημα παλιότερα. Κάθε μέλος μπορεί
                            να κάνει μαθήματα για τρεις με τέσσερις ώρες κάθε δύο φορές τη βδομάδα και το ωράριο προπόνησης μπορεί να καθοριστεί από τα μέλη
                            σε συνεργασία με τους προπονητές και το προσωπικό μας. Τα τμήματα ενηλίκων χωρίζονται σε τρεις ομάδες, ανάλογα με
                            το πόσο έχει ασχοληθεί ο κάθε εκπαιδευόμενος με το τένις. Η ομάδα 1 είναι η ομάδα που συμμετέχουν οι αρχάριοι, δηλαδή
                            όσα άτομα δεν έχουν ασχοληθεί καθόλου ή έχουν ασχοληθεί ελάχιστα με το άθλημα. Η ομάδα 2 είναι αυτή στην οποία συμμετέχουν
                            όσοι έχουν ασχολήθει για κάποια μικρή χρονική περίοδο με το άθλημα και θέλουν να αποκτήσουν περισσότερη εμπειρία. Η ομάδα 3
                            αποτελείται από άτομα τα οποία έχουν ασχοληθεί για μια αρκετά μεγάλη χρονική περίοδο με το τένις και σκοπός τους είναι να
                            ασχοληθούν σοβαρά με το άθλημα, ακόμα και σε επαγγελματικό επίπεδο. Η ομάδα στην οποία κατατάσσεται το κάθε μέλος καθορίζεται
                            από τους προπονητές αφού συνεννοηθούν πρώτα με τους εκπαιδευόμενους.
                        </p>
                    </div>
                    <div class = "info_row row m-0 p-0">
                            <span class = "side_text" >
                                ΤΙΜΗ ΣΥΝΔΡΟΜΗΣ:<br><br>
                                • Μηνιαία συνδρομή: 30 € <br>
                                • Τρίμηνη συνδρομή: 80 € <br>
                                • Εξάμηνη συνδρομή: 170 € <br>
                                • Ετήσια συνδρομή: 340 €
                            </span>
                            <span class ="photo">
                                <img src = "imgs/lessonsPage/adult-club.jpg">
                            </span>
                    </div>
                </div>
            </div>
            <div class = "info_card row p-0 m-0">
                <div id="intensive"> 
                    <div class = "info_banner row m-0">
                        <h4>Εντατικά μαθήματα</h4>
                    </div>
                    <div class = "info_row row m-0 p-0">
                        <p class = "text row">
                            Για τα μέλη μας τα οποία θέλουν να ασχοληθούν εντατικά με το άθλημα και να αποκτήσουν μεγάλη εμπειρία σε μικρό χρονικό διάστημα
                            υπάρχει η επιλογή των εντατικών μαθημάτων. Στα εντατικά μαθήματα ο κάθε εκπαιδευόμενος έχει την επιλογή να κάνει ιδιαίτερα μαθήματα
                            με έναν από τους προπονητές μας για 2 με 3 ώρες κάθε πέντε με έξι φορές τη βδομάδα. Ο εκπαιδευόμενος δεν είναι απαραίτητο να έχει
                            κάποια προηγούμενη εμπειρία με το τένις, καθώς μπορεί να μάθει ό,τι χρειάζεται κατα την διάρκεια των εντατικών μαθημάτων.
                        </p>
                    </div>
                    <div class = "info_row row m-0">
                        <span class = "photo">
                            <img src = "imgs/lessonsPage/intensive-club.jpg">
                        </span>
                        <span class = "side_text">
                            ΤΙΜΗ ΣΥΝΔΡΟΜΗΣ:<br><br>
                            • Μηνιαία συνδρομή: 55 € <br>
                            • Τρίμηνη συνδρομή: 145 € <br>
                            • Εξάμηνη συνδρομή: 290 € <br>
                            • Ετήσια συνδρομή: 585 €
                        </span>
                    </div>
                </div>
            </div>
            <div class = "info_card row p-0 m-0">
                <div id="contest">
                    <div class = "info_banner row m-0">
                        <h4>Αγωνιστικά τμήματα</h4>
                    </div>
                    <div class = "info_row row m-0">
                        <p class = "text row">
                            Τα αγωνιστικά τμήματα λειτουργούν για όλους όσους θέλουν να λάβουν μέρος σε αγώνες τένις και χρειάζονται να εξασκηθούν κατάλληλα.
                            Για τις συγκεκριμένες περιπτώσεις έχουμε ειδικά καταρτισμένους προπονητές, οι οποίοι θα προπονήσουν όσο χρειαστεί τους διαγωνιζόμενους,
                            θα τους ενημερώσουν κατάλληλα για τους την διαδικασία των αγώνων και θα τους καθοδηγήσουν στον δρόμο για την νίκη. Οι ημέρες και οι
                            ώρες που θα γίνονται οι προπονήσεις καθορίζονται από τον εκπαιδευόμενο κατόπιν συννενόησης με τον προπονητή του και έχουν, τυπικά,
                            οριστεί να διαρκούν περίπου τρεις ώρες τη μέρα και να γίνονται κάθε τέσσερις με πέντε μέρες τη βδομάδα. Πριν τους αγώνες ο διαγωνιζόμενος
                            θα προπονείται εντατικά και, την ημέρα διαξαγωγής των αγώνων, θα συμμετάσχει με συνοδεία του προπονητή του.
                        </p>
                    </div>
                    <div class = "info_row row m-0">
                        <span class = "side_text">
                            ΤΙΜΗ ΣΥΝΔΡΟΜΗΣ:<br><br>
                            • Μηνιαία συνδρομή: 50 € <br>
                            • Τρίμηνη συνδρομή: 140 € <br>
                            • Εξάμηνη συνδρομή: 285 € <br>
                            • Ετήσια συνδρομή: 580 €
                        </span>
                        <span class = "photo">
                            <img src="imgs/lessonsPage/contest-club.jpg">
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div id="membership">
            <button>
                <a>SUBSCRIBE NOW</a>
            </button>
        </div>
        -->
    </div>
</div>
 