        <div class ="restaurant_main row m-0 p-0">
            <div class = "restaurant_card p-0"> 
                <div class = "restaurant_banner row m-0 p-0">
                    <div id = "title">
                        <h1>
                            ΤΟ ΕΣΤΙΑΤΟΡΙΟ ΜΑΣ
                        </h1>
                        <h4>
                            Εστιατόριο | Villia Tennis Club
                        </h4>
                    </div>
                </div>
                <div class = "restaurant_info row p-0 m-0">
                    <div class = "info_card row p-0 m-0">
                        <div id="section">
                            <div class="info_banner row m-0">
                                <h4>Γεύματα για όλα τα μελη και τους συγγενείς!</h4>
                            </div>
                            <div class="info_row row m-0 p-0">
                                <p class = "text row">
                                    Το εστιατόριό μας είναι μια γευστική όαση για να απολαύσουν όλα τα μέλη μας καθώς και οι συγγενείς τους εξαιρετικές επιλογές για φαγητό όλη την ημέρα.
                                    Οι όμορφοι εξωτερικοι χώροι του κλάμπ μας συνθέτουν το ιδανικό περιβάλλον για καλό φαγητό μετά την άθληση, ατομικά αλλά και οικογενειακά γεύματα
                                    καθώς και κάθε είδους εκδηλώσεις.<br><br>
                                    Το προσωπικό μας διαθέτει πολλά χρόνια εμπειρίας, ώστε να διασφαλιστεί την ποιότητα και την άριστη εξυπηρέτηση σας για ένα αξέχαστο γεύμα! 
                                    Ελάτε σε εμάς για να απολαύσετε τα υπέροχα γεύματά που ετοιμάζουμε για εσάς, παρακολουθώντας ταυτόχρονα, αγώνες και τουρνουά τένις.
                                </p>
                            </div>
                            <div class="info_row row m-0 p-0">
                                <span class = "photo">
                                    <img src = "imgs/restaurantPage/tables.jpg">
                                </span>
                                <span class= "side_text">
                                    <div style="min-height: 30px;"></div>
                                    ΩΡΑΡΙΟ ΛΕΙΤΟΥΡΓΙΑΣ: <br>
                                    <div style="min-height: 10px;"></div>
                                    • Δευτέρα 8:00 π.μ. - 7:30 μ.μ. <br>
                                    • Τρίτη 8:00 π.μ. - 7:30 μ.μ. <br>
                                    • Τετάρτη 8:00 π.μ. - 3:30 μ.μ. <br>
                                    • Πέμπτη 8:00 π.μ. - 3:30 μ.μ. <br>
                                    • Παρασκευή 8:00 π.μ. - 6:30 μ.μ. <br>
                                    • Σάββατο 8:00 π.μ. - 6:00 μ.μ. <br>
                                    • Κυριακή 8:00 π.μ. - 3:30μ.μ.
                                </span>
                            </div>
                            <div class="info_row row m-0 p-0">
                                <p class = "text row">
                                    Το μενού στο εστιατόριο μας είναι πλούσιο σε γευστικές προτάσεις. Δοκιμάστε αυθεντικές και παραδοσιακές νόστιμες συνταγές, όπως υπέροχες σαλάτες,
                                    ορεκτικά, σπιτικά πιάτα, ψητά κρέατα, θαλασσινά, σπιτικά γλυκά, επιδόρπια, παγωτά, μεγάλη ποικιλία από ετικέτες κρασιών και άλλα είδη αλκοόλ.<br><br> 
                                    Οι κριτικές από τους πελάτες μας  σχετικά με τα γεύματα, την εξυπηρέτηση και τη συνολική εμπειρία που είχαν από την επίσκεψή τους στον χώρο μας είναι εξαιρετικές!!
                                    Το τένις κλάμπ μας είναι μια πολύ καλή επιλογή για καλό φαγητό και κατάλληλο για παρέες, οικογένειες και παιδιά.
                                </p>
                            </div>
                            <div style="min-height: 60px;"></div>
                            <div class="info_row row m-0 p-0">
                                <div id="slideshow">
                                    <ul>
                                        <li><div></div></li>
                                        <li><div></div></li>
                                        <li><div></div></li>
                                        <li><div></div></li>
                                        <li><div></div></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="info_row row m-0 p-0">
                                <p class = "text row">
                                    Κάντε μια επίσκεψη για να δοκιμάσετε τα νόστιμα γεύματά μας και δεν θα απογοητευτείτε!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div style="min-height: 100px;"></div>
                </div>
            </div>
        </div>
