<div class = "popup" id = "signup"> 
    <div class = "modal-container"> 
        <div class = "modal m-0"> 
            <div class = "button_row_close row m-0 p-0"> 
                <button class = "close col-1 p-0" >
                </button> 
            </div>
            <form class = "form" action = "/registerForm" method = "post">
                <div class = "inputs col m-0">
                    <div class="title row m-0 p-0"> 
                        <h1>
                            SIGN UP
                        </h1> 
                    </div>
                    <div class = "field row m-0 p-0"> 
                        <label for = "email" class = "field_name col-5 p-0"> E-mail </label>
                        <input type="text" name="email" class = "field_input col-5 p-0">
                    </div>
                    <div class = "field row m-0 p-0"> 
                        <label for = "username" class = "field_name col-5 p-0"> Username </label>
                        <input type="text" name="username" class = "field_input col-5 p-0">
                    </div>
                    <div class = "field row m-0 p-0"> 
                        <label for = "fullname" class = "field_name col-5 p-0"> Name </label>
                        <input type="text" name="fullname" class = "field_input col-5 p-0">
                    </div>
                    <div class = "field row m-0 p-0"> 
                        <label for = "password" class = "field_name col-5 p-0"> Password </label>
                        <input type="text" name="password" class = "field_input col-5 p-0">
                    </div>
                    <div class = "error_field row m-0 p-0">
                        <p> {{message}} </p>
                    </div> 
                </div>
                <div class = "redirect row m-0 p-0">
                    <a href = "/login"> I already have an account &rarr;</a>
                </div>
                <div class = "redirect row m-0 p-0">
                    <a href = "/">&larr; Return </a>
                </div>
                <button type = "submit" class = "submit"> 
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>