<div class = "spaces_main row p-0 m-0">
    <div class = "spaces_card p-0">
        <div class = "spaces_banner row m-0 p-0"> 
            <h1 id = "title" class = "row"> 
                Οι χώροι μας 
            </h1>
            <p id = "subtitle" class = "row"> 
                Στο χώρο του κλαμπ μας δε θα βρείτε μόνο γήπεδα αλλά και διαφόρων ειδών εγκαταστάσεις για αναψυχή και ψυχαγωγία που αναγράφονται παρακάτω. 
                Εκτός αυτών, διαθέτουμε και άρτια εξοπλισμένες ιατρικές εγκαταστάσεις για χρήση από όλους μας τους επισκέπτες, χωρίς χρέωση στην περίπτωση ατυχήματος.
            </p>
        </div>
        <div class = "spaces_info row p-0 m-0"> 
            <div class = "spaces_info_row row m-0">
                <span id = "courts" class = "p-0">
                    <div class = "info_card">
                        <div class = "banner"> 
                            Γήπεδα
                        </div>
                        <img class = "image"> </img>
                        <div class = "text"> 
                            Στο club μας μπορείτε να διαλέξετε ανάμεσα σε τέσσερα γήπεδα όλων των τύπων τη στιγμή που κάνετε την κράτηση. Βρείτε πληροφορίες για τα είδη γηπέδων παρακάτω.
                        </div>
                        <div class = "button"> 
                            <a href = "/courts">Τα γήπεδά μας</a> 
                        </div>
                    </div>
                </span> 
                <span id = "restaurant" class = "p-0"> 
                    <div class = "info_card">
                        <div class = "banner"> 
                            Εστιατόριο
                        </div>
                        <img class = "image"> </img>
                        <div class = "text"> 
                            Στο εστιατόριό μας θα βρείτε πιάτα από βραβευμένους chef της χώρας σε προσιτές τιμές και με υπέροχη θέα από το πάρκο μας.
                            Δείτε περισσότερες πληροφορίες παρακάτω.
                        </div>
                        <div class = "button"> 
                            <a href = "/restaurant">Το εστιατόριό μας</a>
                        </div>
                    </div>
                </span>
            </div> 
            <div class = "spaces_info_row row m-0"> 
                <span id = "pool" class = "p-0"> 
                    <div class = "info_card">
                        <div class = "banner"> 
                            Πισίνα
                        </div>
                        <div class = "text"> 
                            Τους καλοκαιρινούς μήνες, η πισίνα μας είναι ανοιχτή στα μέλη μας και επιβλέπεται από εκπαιδευμένους ναυαγωσώστες. 
                            Οι κρατήσεις γίνονται τηλεφωνικώς ενώ κατά την χρήση 
                            απαιτείται κατάλληλος εξοπλισμός για εξασφάλιση των απαραίτητων υγειονομικών συνθηκών. <br />
                            <strong>Ωράριο λειτουργίας:</strong> 9.00πμ - 6.00μμ
                        </div>
                    </div>
                </span>
                <span id = "equipment" class = "p-0"> 
                    <div class = "info_card">
                        <div class = "banner"> 
                            Εξοπλισμός
                        </div>
                        <div class = "text"> 
                            Στο club μας μπορείτε να αγοράσετε ή να νοικιάσετε εξοπλισμό οποιουδήποτε επιπέδου από το κατάστημα εξοπλισμού μας. Αγορές και 
                            ενοικιάσεις γίνονται τηλεφωνικώς ή στο χώρο του καταστήματος. Οι υπηρεσίες του καταστήματός μας είναι ανοιχτές σε όλους, χωρίς περιορισμούς. 
                            <br /><strong>Ωράριο λειτουργίας:</strong><br />
                            <i>για ενοικιάσεις:</i> καθημερινά 9.00πμ - 9.00μμ <br />
                            <i>για αγορές:</i> Δευτέρα - Παρασκευή 9.00πμ - 9.00μμ
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>
        
