<div class = "tournaments_main row p-0 m-0">
    <div class = "tournaments_card p-0">
        <div class = "tournaments_banner_title row m-0 p-0">
            <div>
                <h1>
                    ΤΟΥΡΝΟΥΑ
                </h1>
                <h4>
                    Επερχόμενα Τουρνουά ┃ VILLIA TENNIS CLUB
                </h4>
            </div>
        </div>
        <div class = "tournaments_banner_subtitle row m-0 p-0"> 
            <div class = "title row"> 
                <h1>
                    Λίγα λόγια για τα τουρνουά μας...
                </h1>
            </div>
            <div class = "subtitle row"> 
                <p >
                    Το κλαμπ μας διοργανώνει τουρνουά τένις σε τακτά χρονικά διαστήματα, τα οποία πραγματοποιούνται στις εγκαταστάσεις μας. Όλα τα μέλη μας,
                    ανεξαρτήτως ηλικίας, εμπειρίας ή επιπέδου δεξιοτήτων, μπορούν να συμμετέχουν στα τουρνουά μας. Στα τουρνουά μπορούν να πάρουν μέρος και άτομα
                    που δεν αποτελούν μέλη του κλαμπ μας, αλλά θέλουν μόνο να συμμετέχουν στους αγώνες (τα μη μέλη συνήθως έχουν πρόσβαση σε συγκεκριμένα τουρνουά).<br>
                    Με λίγα απλά βήματα θα μπρορέσετε κι εσείς να πάρετε μέρος σε ένα από τα τουρνουά μας!<br>
                    Αρχικά θα χρειαστεί να φτιάξετε λογαριασμό στο σάιτ μας. Μετά, το μόνο που χρειάζεται είναι να επιλέξετε ένα από τα επερχόμενα τουρνουά που
                    θα βρείτε στο ημερολόγιο-τουρνουά στο τέλος της σελίδας και να συμπληρώσετε με τα στοιχεία σας την φόρμα που θα σας δωθεί στην συνέχεια.<br>  
                </p>
            </div>
        </div>
        
        <div class = "tournaments_info row m-0 p-0"> 
            <div class = "tournaments_info_banner row m-0 p-0"> 
                <h1>ΕΠΕΡΧΟΜΕΝΑ ΤΟΥΡΝΟΥΑ</h1>
            </div>
            <div class = 'tournaments_info_row'>
                <div class = "month_title row m-0"> 
                    <h4> ΑΠΡΙΛΗΣ </h4>
                </div>
                <div id = "t1"> 
                    <div class = "tournament_row">
                        <span class ="tournament_description">
                            <h4 class = "tournament_title">
                                Ανοιχτό Τουρνουά Τένις 2022
                            </h4>
                            <p class = "tournament_details">
                                Το τουρνουά αυτό είναι ανοιχτό για όλους όσους επιθυμούν να συμμετάσχουν, ακόμα και όσους που δεν είναι μέλη του συλλόγου μας!
                                Δεχόμαστε συμμετοχές από παίκτες ηλικίας 15 ετών μέχρι και ενήλικες και το τουρνουά θα διαρκέσει περίπου μία εβδομάδα.
                            </p>
                        </span>
                        <span class ="tournament_poster">
                            <h1>ΑΝΟΙΧΤΟ ΤΟΥΡΝΟΥΑ ΤΕΝΙΣ 2022</h1>
                            <h2>23 Απριλίου 2022 - 30 Απριλίου 2022</h2>
                            <h4>Το τουρνουά είναι ανοιχτό και για μη μέλη του κλαμπ</h4>
                            <h4>ΒΡΑΒΕΙΑ ΓΙΑ ΤΟΥΣ ΝΙΚΗΤΕΣ!</h4><div id="gap1"></div>
                            <h4>ΔΗΛΩΣΤΕ ΣΥΜΜΕΤΟΧΗ ΤΩΡΑ</h4>
                            <p>Επικοινωνήστε μαζί μας για περισσότερες πληροφορίες.</p>
                        </span>
                    </div> 
                </div>
                <div id = "t2"> 
                    <div class = "tournament_row">
                        <span class = "tournament_poster">
                            <h2>ΕΤΗΣΙΟ ΦΙΛΑΝΘΡΩΠΙΚΟ ΤΟΥΡΝΟΥΑ JUNIOR 2022</h2><br>
                            <h3>25 Απριλίου 2022 - 26 Απριλίου 2022</h3>
                            <h4>ΒΟΗΘΗΣΤΕ ΤΑ ΠΑΙΔΙΑ ΠΟΥ ΕΙΝΑΙ ΣΕ ΑΝΑΓΚΗ</h4><div id="gap2"></div>
                            <h4>ΔΗΛΩΣΤΕ ΣΥΜΜΕΤΟΧΗ ΤΩΡΑ</h4>
                            <p>Επικοινωνήστε μαζί μας για περισσότερες πληροφορίες.</p>
                        </span>
                        <span class ="tournament_description">
                            <h4 class = "tournament_title">
                                Ετήσιο Φιλανθρωπικό Τουρνουά Junior
                            </h4>
                            <p class = "tournament_details">
                                Αυτό το τουρνουά, μία από τις κορυφαίες διοργανώσεις τένις στην περιοχή, καθώς, χάρη σε αυτό, καταφέρνουμε κάθε χρόνο να
                                συγκέντρωσουμε και να δωρίσουμε ένα μεγάλο χρηματικό ποσό σε τοπικές φιλανθρωπικές οργανώσεις που επικεντρώνονται στα παιδιά!
                                Σκοπός μας είναι, μέσω αυτής της διοργάνωσης, να αναπτυχθούμε και να συνεισφέρουμε συνεχώς στην κοινότητά μας. Στο τουρνουά θα
                                μπορούν να συμμετάσχουν παιδιά ηλικίας εώς και 12 ετών, που είναι μέλη του κλαμπ μας. Με την συμμετοχή τους στο τουρνουά, οι μικροί
                                μα φίλοι θα μπορέσουν να συμβάλουν, ταυτόχρονα, στην καλυτέρευση της ποιότητας ζωής και άλλων παιδιών, τα οποία είναι σε ανάγκη .
                            </p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type = "text/javascript" src = "../scripts/tournaments.js"> </script>
</div>