.modal-container { 
    align-items: center;
    justify-content: center;

    position: absolute;

    width : 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);

    display: none;
}

.modal { 
    display : flex;
    flex-direction: column;

    position: relative;

    width: 30%;
    height: fit-content;
    margin: auto;
    padding: 0px 0px 30px 0px;

    background-color: white;
}

.button-row { 
    display: flex;
    flex-direction: row;
}   

.modal .close{ 
    max-width: 40px; 
    width: auto;
    max-height: 40px;
    height: auto;
    color: white;
    background-color: red;
    border: none;
    position: relative;
    right: 0;
}

.close::after {
    content: "\00d7";
}

.modal .form {
    display: flex;
    flex-direction: column;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 300;
}

.modal .inputs {
    padding-bottom: 40px;
}

.form .title h1 { 
    font-size: 45px;
    font-style: italic;
    position: relative;
    margin: auto;
    padding-bottom: 20px;
}

.form .field { 
    display: flex;
    flex-direction: column;
}

.form .field_name {
    font-size: 20px; 
    font-style: bold; 
    margin: auto;
}

.form .field_input { 
    margin: auto;
    border: 1px solid black; 
    border-radius: 10px;
}

.form .redirect a{ 
    margin: auto;
    padding-bottom: 20px;
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.form .submit { 
    background-color: blueviolet;
    color: white; 
    font-size: 20px;
    border: none; 
    border-radius: 5px; 
    width: 30%; 
    padding: 10px;
    position: relative;
    margin: auto;
}