html {
    font-family: 'Lato' 'Sans-serif';
    font-size: 20px; 
    font-weight: 1000;
    min-width: 100%;
    background-color: white;
}

.navbarGen { 
    height: 100px; 
    width: 100%;
    background-color: #0091d2;
    margin: 0px;
    position: center;
}

.navbarGen .navButton { 
    display: inline-block;
    position: center;
    width: 220px;
    height: 100px;
    background-color: inherit;
    text-align: center;
    border: none;
    cursor: pointer;
}

.navbarGen .navButton a { 
    display: block;
    font-family: 'Lato';
    font-weight: 1000;
    font-size: 20px;
    text-decoration: none;
    color:white;
}

.navbarGen .navButton:hover .dropdown{ 
    display: block;
}

.navbarGen .dropdown { 
    display: none;
    position: absolute;
    background-color: #fac300;
    min-width: 220px;
    z-index: 1;
    margin-top:25px;
}

.navbarGen .dd_content { 
    border-top: solid white 1px;
    width: 100%;
    height:50px;
    text-align: center;
}

.navbarGen .dd_content a{ 
    position: center;
}

.navbarGen .dd_content:hover { 
    background-color: #E0E0E0;
}

#options {
    width: 75%;
    margin: auto;
    margin-bottom: 84.3px;
}

#title { 
    height: 300px; 
    width: 75%;
    margin: auto;
    position: center;
    color: white;
    background-image: url("tennis3.png");
    background-position: center;
    background-size: cover;
}

.header {
    height: 300px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

h1{
    padding-top: 40px;
    padding-left: 30px;
    margin-top: 0px;
    color: white;
    font-style: bold;
    font-size: 40px;
}

.header h4 {
    padding-left: 30px;
}

.info #banner { 
    width: 100%;
    height: 60px;
    background-color: rgba(202, 49, 164, 1);
    color: white;
    font-size: 25px;
    text-align: left;
}

.info #banner h4{
    margin-top: 0px;
    padding: 10px;
    height: 44.8px;
}

.info #banner h4::before{
    content: "";
    display: inline-block;
    width :40px;
    height: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 10px;
    background-image: url("tennis-player-white.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 34px;
}

.info-text{
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #e6e6e6;
    color: rgba(202, 49, 164, 1);
}

.info-text #price{
    padding-top: 20px;
    padding-right: 60px;
    display: flex;
    justify-content: flex-end;
}

.bottom{
    padding-bottom: 40px;
    background-color: white;
    display: grid;
    grid-template: 50px / 1fr 1fr 1fr 1fr 1fr;
    /*display: block;
    height: 50px;
    margin-top: 0px;
    background-image: url("tennis-ball-green.png");
    background-repeat: no-repeat;
    background-position: center;*/
}

.bottom #photo1{
    grid-column: 1 / 2;
    margin: 0px;
    background-image: url("tennis-ball-red.png");
    background-repeat: no-repeat;
    background-position: center;
}

.bottom #photo2{
    grid-column: 2 / 3;
    margin: 0px;
    background-image: url("tennis-ball-purple.png");
    background-repeat: no-repeat;
    background-position: center;
}

.bottom #photo3{
    grid-column: 3 / 4;
    margin: 0px;
    background-image: url("tennis-ball-blue.png");
    background-repeat: no-repeat;
    background-position: center;
}

.bottom #photo4{
    grid-column: 4 / 5;
    margin: 0px;
    background-image: url("tennis-ball-yellow.png");
    background-repeat: no-repeat;
    background-position: center;
}

.bottom #photo5{
    grid-column: 5 / 6;
    margin: 0px;
    background-image: url("tennis-ball-green.png");
    background-repeat: no-repeat;
    background-position: center;
}

#scroll-up{
    display: block;
    height: 60px;
    width: 60px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-image: url("scroll-up-purple.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-color: white;
    border: 0px;
}