html {
    font-family: 'Lato' 'Sans-serif';
    font-size: 20px; 
    font-weight: 1000;
    min-width: 100%;
    background-color: white;
}

.navbarGen { 
    height: 100px; 
    width: 100%;
    background-color: #0091d2;
    margin: 0px;
    position: center;
}

.navbarGen .navButton { 
    display: inline-block;
    position: center;
    width: 220px;
    height: 100px;
    background-color: inherit;
    text-align: center;
    border: none;
    cursor: pointer;
}

.navbarGen .navButton a { 
    display: block;
    font-family: 'Lato';
    font-weight: 1000;
    font-size: 20px;
    text-decoration: none;
    color:white;
}

.navbarGen .navButton:hover .dropdown{ 
    display: block;
}

.navbarGen .dropdown { 
    display: none;
    position: absolute;
    background-color: #fac300;
    min-width: 220px;
    z-index: 1;
    margin-top:25px;
}

.navbarGen .dd_content { 
    border-top: solid white 1px;
    width: 100%;
    height:50px;
    text-align: center;
}

.navbarGen .dd_content a{ 
    position: center;
}

.navbarGen .dd_content:hover { 
    background-color: #E0E0E0;
}

#options {
    width: 75%;
    margin: auto;
    margin-bottom: 0px;
}

#title { 
    height: 300px; 
    width: 75%;
    margin: auto;
    position: center;
    color: white;
    background-image: url("tennis3.png");
    background-position: center;
    background-size: cover;
}

.header {
    height: 300px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

h1{
    padding-top: 40px;
    padding-left: 30px;
    margin-top: 0px;
    color: white;
    font-style: bold;
    font-size: 40px;
}

.header h4 {
    padding-left: 30px;
}

.info #banner { 
    width: 100%;
    height: 60px;
    background-color: rgba(202, 49, 164, 1);
    color: white;
    font-size: 25px;
    text-align: left;
}

.info #banner h4{
    margin-top: 0px;
    padding: 10px;
    height: 44.8px;
}

.info #banner h4::before{
    content: "";
    display: inline-block;
    width :40px;
    height: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 10px;
    background-image: url("tennis-player-white.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 34px;
}

.info-text{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #e6e6e6;
    color: rgba(202, 49, 164, 1);
    background-image: linear-gradient(to bottom, #e6e6e6 95%,rgba(202, 49, 164, 1));
}

.bottom{
    padding-top: 40px;
    padding-bottom: 50px;
    margin-left: 46.6875px;
    width: 90%;
    display: grid;
    grid-template: 400px / 1fr 1fr;
}

#bottomA .photo{
    grid-column: 1 / 2;
}

#bottomB .photo{
    grid-column: 2 / 3;
}

.bottom .photo{
    margin: 0px;
    box-shadow: 5px 5px #6c6f6f;
}

#photo1{
    background-image: url("junior-club.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#photo2{
    background-image: url("adult-club.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#photo3{
    background-image: url("intensive-club.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#photo4{
    background-image: url("contest-club.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#bottomA #price{
    grid-column: 2 / 3;
    padding-left:100px;
}

#bottomB #price{
    grid-column: 1 / 2;
    padding-left: 60px;
    padding-right: 0px;
}

.bottom #price{
    margin: 0px;
    padding-top: 50px;
}

.membership{
    width: 75%;
    margin: auto;
    height: 200px;
    background-image: linear-gradient(to bottom, rgba(202, 49, 164, 1),rgba(202, 49, 164, 1));
}

.membership button{
    width: 25%;
    height: 70px;
    margin-left: 37.5%;
    margin-top: 60px;
    color: rgba(202, 49, 164, 1);
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    border: 0px;
	border-radius: 10px;
    transition: 0.35s;
}

.membership #details{
    color: white;
    font-size: 8px;
    font-weight: lighter;
    margin-top: 45px;
    margin-bottom: 0px;
    margin-left: 10px;
}

.membership button:hover {
	color: white;
	background-color: rgb(208, 130, 208);
	transition: 0.35s;
}

#scroll-up{
    display: block;
    height: 50px;
    width: 50px;
    right: 20px;
    bottom: 20px;
    position: fixed;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-image: url("scroll-up-blue.png") , radial-gradient(white 26%,#3498db);
    border-radius: 50%;
    border: 0px;
}